.App {
    background-color: #112632;
    min-height: 100vh;
    font-family: 'Indie Flower';
}

.container_add_item {
    display: flex;
}

.bottom_container {
    display: flex;
    position: absolute;
    bottom: 20px;
    justify-content: space-between;
}

button {
    border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #112632;
}

button:hover {
    background-color: white;
}

.container_deleteIcon {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.container_items {
    min-height: 200px;
}

.container_lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container_top {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.popup_container_section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.bottom {
    margin-top: 40px;
}

.container_h4 {
    color: white;
    position: absolute;
    right: 10px;
    bottom: 0px;
}

h4 {
    margin: 0px;
}

.input {
    border-radius: 4px;
    border: 0px;
    background-color: lightgrey;
}

.list_container {
    width: 200px;
    min-height: 300px;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    position: relative;
    padding: 8px;
    margin: 4px;
    font-family: 'Abel';
}

.input:hover {
    background-color: white;
}

.input:focus {
    background-color: white;
}

.icon {
    cursor: pointer;
}

.item {
    background-color: grey;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding: 2px 8px 2px 8px;
}

.item:hover {
    background-color: #112632;
    cursor: pointer;
}

p {
    margin: 0px;
}

.popup_container {
    background-color: white;
    height: 300px;
    width: 300px;
    border: 2px solid #112632;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 30px;
    border-radius: 4px;
}

.container_popup {
    display: flex;
}

select {
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

header {
    display: flex;
    height: 150px;
    position: relative;
    border-bottom-right-radius: 250px 100px;
    background-color: #1f3947;
    margin-bottom: 30px;
}

.textfield {
    border-radius: 4px;
    border: 0px;
    background-color: lightgrey;
}

.textfield:hover {
    background-color: white;
}

.top {
    color: white;
}